<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员中心</title>
</head>
<body>
    <a href="/UserManager"><button>用户管理页面</button></a>
    <a href="/GameManager"><button>游戏管理页面</button></a>
    <a href="/CommentManager"><button>评论管理页面</button></a>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <center><font size = '10' color = 'red'>大巧不工</font></center>

</body>
</html>