<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>查找结果</title>

<link rel="stylesheet" type="text/css" href="../static/index/css/index.css">
<link rel="stylesheet" type="text/css" href="../static/SearchList/css/block.css">

</head>
<body>

	<div id="page">
		<div id="top">
			<div id="top_left">
				<h3 id="logo">Stream</h3>
			</div>
			<div id="top_right">
				<a href="/HomePage">主页</a>|
				<a href="/Account?UID={{User}}">我的账户</a>|
				<a href="/SignUp">新用户注册</a>|
				<a href="/quit">退出</a>
			</div>
		</div>
		<div class="clear"></div>
		<div id="menu">
			<a href="/SearchList?Gtype=枪战">枪战</a>
			<a href="/SearchList?Gtype=动作">动作</a>
			<a href="/SearchList?Gtype=沙盒">沙盒</a>
			<a href="/SearchList?Gtype=卡牌">卡牌</a>
			<a href="/SearchList?Gtype=益智">益智</a>
			<a href="/SearchList?Gtype=音乐">音乐</a>
			<a href="/SearchList?Gtype=恐怖">恐怖</a>
			<a href="/SearchList?Gtype=体育">体育</a>
			<a href="/SearchList?Gtype=竞速">竞速</a>
			<a class="all" href="/SearchList">全部目录商品</a>
		</div>
		<form action="/HomePage">
			<center>
				<span>探索一下，发现惊奇！</span>
				<input type="text" name = 'content'/>
				<input type="submit" name = 'search' value="搜索" />
				<select name="range">
					<option value="Gname">名称</option>
					<option value="Gfirm">厂商</option>
				</select>
		    </center>
		</form>
		<div id="content">
            <h3>查找结果</h3>
            {% for row in u %}
                <div class = "SearchBlock">
                    <img src="../static/GamePic/{{row[0]}}.jpg" alt="这里本应是张图片" class="pic">
                    <div class="GameInfo">
                        <div class = "name">游戏名称：{{row[1]}}</div>
                        <div class = "type">游戏类型：{{row[3]}}</div>
                        <div class = "date">发行日期：{{row[4]}}</div>
                        <div class = "sale">售价：{{row[5]}}</div>
                        <div class = "score">权威评分：{{row[6]}}</div>
                        <div class = "enter">
                            <form action="SearchList" method="POST">
                                <input type="submit" name={{row[0]}} value="查看详细">
                            </form>
                        </div>
                    </div>
                </div>
                <br><br>
            {% endfor %}
		</div>
	</div>
</body>
</html>
